.note {
    border: 2px solid dimgrey;
    border-radius: 10px;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    display: flex;
}
.text {
    padding: 10px;
    flex: 0 1 80%;
}
.text p {
    font-size: 18px;
    font-weight: 500;
}
.weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5px;
    font-weight: 500;
}
.icon {
    margin-top: -15px;
}
.btn {
    align-self: flex-start;
    cursor: pointer;
    border: none;
    background: inherit;
    font-size: 20px ;
    padding: 3px;
    font-weight: 700;
}